
@{
    ViewBag.Title = "Diagnostic log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="dateBox"></div>
<br>
<table id="mainTable" class="table table-striped table-bordered" style="width:100%"></table>

<script src="~/Scripts/Diagnostics/render.js"></script>
<script src="~/Scripts/Diagnostics/main.js"></script>
<script src="~/Scripts/Diagnostics/event.js"></script>