
@{
    ViewBag.Title = "Data log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dateBox"></div>
<br>
<table id="mainTable" class="table table-striped table-bordered" style="width:100%"></table>

<script src="~/Scripts/DataLog/render.js"></script>
<script src="~/Scripts/DataLog/main.js"></script>
<script src="~/Scripts/DataLog/event.js"></script>