
@{
    ViewBag.Title = "Device attributes log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="dateBox"></div>
<br>
<table id="mainTable" class="table table-striped table-bordered" style="width:100%"></table>

<script src="~/Scripts/DeviceAttributesLog/event.js"></script>
<script src="~/Scripts/DeviceAttributesLog/render.js"></script>
<script src="~/Scripts/DeviceAttributesLog/main.js"></script>